/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400; /* Not sure why font weight is defaulting to bold for the document */
}

html {
  /* Colors */
  --primary_bg: #b0e0e6;
  --profile_bg: white;
  --pink: rgb(244, 103, 138);
  --pink-transparent: rgba(244, 103, 138, 0.386);
  --gold: rgb(218, 165, 32);
  --gold-transparent: rgba(218, 165, 32, 0.535);
  --border_color: black;

  /* Paddings & Margins */
  --nav-height: 4rem;
  --skills-width: 250px;
  --horizontal-padding: 2rem;
  --section-padding-top: 4rem;

  --border-radius: 8px;

  font-size: 100%;
}

body {
  font-family: 'Cabin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('./images/geometric-shapes-T74.jpg');
  background-repeat: repeat;
}

section {
  padding: 0 var(--horizontal-padding);
  padding-top: var(--section-padding-top);
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

h4 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

a:visited {
  color: black;
}

ul {
  list-style-type: none;
}

/* NAVIGATION */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  z-index: 2;
  background-image: url('./images/geometric-shapes-T74.jpg');
}

.nav-menu {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-menu__li {
  position: relative;
}

.nav-menu__a {
  position: relative;
  font-size: 1.5rem;
  padding: 0.25em;
  border-radius: 5px;
  color: rgb(48, 48, 48);
}

.nav-menu__a:hover {
  color: var(--gold);
}

.nav-menu__a::before,
.nav-menu__a::after {
  position: absolute;
  top: 0.25em;

  font-weight: bold;
  transition: transform 0.2s;
}

.nav-menu__a::before {
  right: 100%;
  content: '<';
}

.nav-menu__a::after {
  left: 100%;
  content: '>';
}

.nav-menu__a:hover::before {
  transform: translate(-5px);
  color: var(--pink);
}

.nav-menu__a:hover::after {
  transform: translate(5px);
  color: var(--pink);
}

.nav-menu__a:focus {
  color: var(--gold);
}

.nav-menu__a:focus::before {
  transform: translate(-5px);
  color: var(--pink);
}

.nav-menu__a:focus::after {
  transform: translate(5px);
  color: var(--pink);
}

/* PAGE WRAPPER */

.wrapper--page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em;
  padding-top: var(--nav-height);
}

/* HEADER */
.page-header {
  display: flex;
}

.page-header__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--skills-width);
  padding: 0 1rem;
}

.page-header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem var(--horizontal-padding);
  width: calc(100% - var(--skills-width));

  background-color: var(--primary_bg);
}

.page-header__title {
  font-size: 4rem;
}

.page-header__subtitle {
  font-size: 2rem;
}

.page-header__title,
.page-header__subtitle {
  position: relative;
  font-weight: 500;
}

.page-header__title::before,
.page-header__subtitle::before {
  position: absolute;
  content: '';
  left: calc(var(--horizontal-padding) * -1);
  width: calc(100% + calc(var(--horizontal-padding) * 2));
  height: 40px;

  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s;
}

.page-header__title::before {
  top: 1rem;
  background-image: linear-gradient(
    to right,
    var(--pink-transparent) 50%,
    var(--gold-transparent) 50%
  );
  transform: skewY(15deg);
}

.page-header__subtitle::before {
  bottom: 1rem;
  background-image: linear-gradient(
    to right,
    var(--gold-transparent) 50%,
    var(--pink-transparent) 50%
  );
  transform: skewY(-8deg);
}

.page-header__title:hover::before,
.page-header__subtitle:hover::before {
  background-position: left bottom;
}

/* MAIN */
.main-flex {
  display: flex;
  border-radius: var(--border-radius);
}
.left-flex-column {
  width: var(--skills-width);
}
.right-flex-column {
  width: calc(100% - var(--skills-width));
  background-color: var(--primary_bg);
}

/* SKILLS */
.skills-section__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: white;
  padding: 0.3em;
  margin-bottom: 2em;
  border: solid 2px var(--border_color);
}

.skills-section__item:last-child {
  margin-bottom: 0;
}

.skills-section__item:hover {
  transition: all 0.2s;
  background-position: left bottom;
}

.skills-section__text {
  font-size: 1.3rem;
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em 0;
  padding: 1em;
}

.project__img {
  display: block;
  margin: 0.5em auto;
  cursor: pointer;
  text-align: center;
}

.project p {
  text-align: justify;
}

.project__title-wrapper h3 {
  margin-bottom: 0.5em;
}

.project__preview-wrapper {
  display: flex;
  justify-content: space-around;
  height: max-content;
  margin-top: 0.5em;
}

.project__preview-wrapper a {
  color: blue;
  text-decoration: underline;
}

.project__preview-wrapper a:visited,
.project__preview-wrapper a:hover,
.project__preview-wrapper a:focus {
  color: black;
}

.project__preview-wrapper a:visited:hover,
.project__preview-wrapper a:visited:focus {
  color: blue;
}

/*///////////////
  IMAGE MODAL
////////////////*/

.image-modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.image-modal__close {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 3rem;
  cursor: pointer;
}

.image-modal__img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.image-modal__caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.image-modal__img,
.image-modal__caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#close_modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close_modal:hover,
#close_modal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* ABOUT ME */

#about h2 {
  border-bottom: solid 1px var(--border_color);
}

.about-wrapper {
  padding: 2em;
  padding-bottom: 0;
}

.about__mobile-img {
  display: none;
}

.about-wrapper p {
  font-size: 1.3rem;
  text-align: justify;
}

.about-wrapper p:first-child {
  margin-bottom: 1em;
}

.resume {
  display: block;
  margin-top: 1em;
  font-size: 1.5rem;
  color: blue;
  text-decoration: underline;
}

.resume:visited,
.resume:hover,
.resume:focus {
  color: black;
}

.resume:visited:hover,
.resume:visited:focus {
  color: blue;
}

/*/////////////
    CONTACT
/////////////*/

.contact-social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5em;

  padding: 2em;
  align-items: center;
}

.contact-social a {
  display: flex;
  justify-content: center;

  cursor: pointer;
  position: relative;

  width: 100%;
  min-width: 45px;
  padding: 1em;
  border-radius: 10px;
}

.contact-social a:hover,
.contact-social a:focus {
  background-color: #33a3af;
}

.contact-social a:hover::before,
.contact-social a:focus::before {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  content: attr(data-link);

  min-width: calc(100% - 1em);
  background-color: white;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 0em 0.5em;
}

.contact-social img {
  max-width: 100%;
  min-width: 42px;
}

.contact-form {
  width: 100%;
}

.contact-form__fields-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1em;
}

.contact-form__fields-wrapper > div {
  width: 100%;
  margin-bottom: 0.5em;
}

.contact-form__fields-input {
  width: 100%;
  height: 20px;
}

.contact-form__fields-textarea {
  width: 100%;
}

.contact__form-button {
  display: block;
  background-color: rgb(240, 188, 58);
  margin: 0 auto;
  width: 52%;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 1px 1px black;
  transition: all 0.2s;
}

.contact__form-button:hover {
  transform: scale(0.97);
  background-color: var(--gold);
}

/*///////////////////
// Utility classes //
///////////////////*/

/* Font */
.font--Playfair {
  font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Project Borders */

.border-shadow__1col--gold {
  box-shadow: none;
}
.border-shadow__1col--pink {
  box-shadow: none;
}

.border-shadow__2col--pink {
  box-shadow: -2px 2px 3px var(--pink);
}
.border-shadow__2col--gold {
  box-shadow: 2px 2px 3px var(--gold);
}
/*//////////////////
   MEDIA QUERIES 
/////////////////*/

@media screen and (max-width: 900px) {
  .page-header__img {
    width: 33%;
    padding-left: 0;
  }

  .page-header__img img {
    border-radius: var(--border-radius);
  }

  .page-header__content {
    width: 66%;
    background-color: transparent;
  }

  .main-flex {
    flex-direction: column;
    margin-top: 2rem;
    background-color: var(--primary_bg);
  }
  .left-flex-column,
  .right-flex-column {
    width: 100%;
  }

  .skills-section {
    padding-top: 2rem;
  }

  .skills-section__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 0.8fr));
    gap: 2rem;
    justify-content: center;
  }

  .skills-section__item {
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
    border-radius: var(--border-radius);
  }
}

@media screen and (max-width: 710px) {
  html {
    font-size: 90%;
  }

  .page-header__img {
    width: 25%;
  }

  .page-header__content {
    width: 75%;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }

  .border-shadow__1col--gold {
    box-shadow: 2px 2px 3px var(--gold);
  }
  .border-shadow__1col--pink {
    box-shadow: -2px 2px 3px var(--pink);
  }
}

@media screen and (max-width: 570px) {
  .page-header__img {
    display: none;
  }

  .page-header__content {
    width: 100%;
  }

  .page-header__title {
    font-size: 3rem;
  }

  .page-header__subtitle {
    font-size: 1.5rem;
  }

  .page-header__title::before,
  .page-header__subtitle::before {
    height: 20px;
  }

  .about__mobile-img {
    display: block;
    max-width: 200px;
    margin-bottom: 1em;
    border-radius: var(--border-radius);
  }

  .contact-social {
    gap: 2em;
    padding: 1em 0;
  }
}

@media screen and (max-width: 400px) {
  .nav-menu__a {
    font-size: 1.3rem;
  }

  .wrapper--page {
    padding: 1em;
    padding-top: var(--nav-height);
  }

  section {
    padding-left: 1em;
    padding-right: 1em;
  }

  .contact-social {
    gap: 1em;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 120%;
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 150%;
  }

  .contact-form__fields-input {
    height: 30px;
  }
}
